
body {
    background: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: center;
    color: #75B79E;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 900px;
}

.carta {
    width: 117px;
    height: 146px;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.outrolado {
    transform: rotateY(180deg);
}


.outrolado-virado {
    transform: rotateY(0deg);
}

.frente-virado {
    transform: rotateY(-180deg);
}

.nao-clica {
    pointer-events: none;
}

.papagaio {
    width: 100px;
    height: 100px;    
}

.contador {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.004em;
    color: #86BD8D;
    position: fixed;
    top: 16px;
    right: 18px;
}

@media (max-width:614px) {
    .container {
        flex-direction:column;
        max-width: 120px;
    }
}

